.pytest_cache
.idea
__pycache__/
**/*.pyc
/.vs
venv/
.venv/
**/*.swp
**/*.swo
**/*.coverage
.vscode/
redis-data/
/frontend/build
/frontend/node_modules
/frontend/yarn-error.log
/logs
.git/
.gitignore
