table{
  border-collapse: collapse;
  margin: 5%;
  width: 90%;
}

table, td, tr, th  {
  border: 1px solid black;

}
td{
  height: 100px;
}  
th{
  background-color: lightgray;
  height: 50px;
  text-align: center;
}

button{
  height: 100px;
  background: transparent;
  border: none !important;
  width: 100%;
  font-size: 1em;
}

h3{
  text-align: center;
}