td {
  border: 1px solid black;
  height: 2.2em;
  text-align: center;
}
.del-button {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
